{
  "projectId": "jaunty-centaur-5xhgq",
  "appId": "1:428332944032:web:7b8f831bd40145b0a8d7c5",
  "apiKey": "AIzaSyBDxFfApbNMFtZoepY7lfUZDQP5I-RIGt4",
  "authDomain": "jaunty-centaur-5xhgq.firebaseapp.com",
  "storageBucket": "jaunty-centaur-5xhgq.firebasestorage.app",
  "messagingSenderId": "428332944032",
  "measurementId": ""
}
