rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to sharedQuizzes for the server
    match /sharedQuizzes/{quizId} {
      allow read, write: if true;
    }
  }
}
